<template id="my-element-tpl">
    <style>
        :host {
            display: block;
        }

        :host(negative) {

        }

        :host(positive) {

        }
    </style>
    <div>
        <slot></slot>
    </div>
</template>
<script type="module">
  customElements.define('my-element', class extends HTMLElement {
    constructor () {
      super();
      this.attachShadow({mode: 'open'});
      this.appendChild(document.getElementById('my-element-tpl').content.cloneNode(true));
    }
  });
</script>
